<a rel="stylesheet" routerLink="/dashboard/editarPlanes" class="btn btn-info m-1" data-dismiss="modal" >Nuevo</a>
    <div class="col-sm">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr class="table-warning">
                    <th>IdEnfermero</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>......</th>
                    <th>........</th>
                    <th>...........</th>
        
                    <th>
                        
                        <a rel="stylesheet" routerLink="/dashboard/editarPlanes" class="btn btn-info m-1" data-dismiss="modal" >Editar</a>
                        <a rel="stylesheet" href="desactivarPlan.html" class="btn btn-primary m-1" data-dismiss="modal" >Eliminar</a>
                  
                    </th>

                </tr>
                <tr>
                    <th>..............</th>
                    <th>............</th>
                    <th>..................</th>
                </tr>
            </tbody>

        </table>
    </div>


